<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>myHstry: Home</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" href="myhstry.css" />
</head>
<body>
	<div id="header">
		<div id="logo"><h1><a href="/">myHstry</a></h1></div>
		<div id="menu">
			<ul>
				<li><a href="about.html">About</a></li>
			</ul>
		</div>
	</div>
	<div id="body">
		<div class="content">
			<img src="family-tree-297812.svg" alt="family tree" width="100px" style="float: left; padding: 0px 10px;" />
			<p><strong>myHstry</strong> was created to provide a solution, for those working on their family history, that makes their family trees available wherever they were.</p>
			<p>Dedicated to doing one job well, <strong>myHstry</strong>, allows you to add your genealogoy data regardless of where you got it and saves it in a form that allows you to search, retrieve and display it in a variety of forms. If you have been struggling with finding the right family history software then <strong>myHstry</strong> is the service for you.</p>
		</div>
	</div>
	<div id="footer">
		&copy; copyright 2017-2018 Andy Diack. All rights reserved.
	</div>
</body>
</html>