<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<div layout:fragment="page_content" id="page_content">
	<div class="content">
		<img src="/images/family-tree-297812.svg" alt="family tree" width="100px"
			style="float: left; padding: 0px 10px;" />
		<p>
			<strong>myHstry</strong> was created to provide a solution, for those
			working on their family history, that makes their family trees
			available wherever they were.
		</p>
		<p>
			Dedicated to doing one job well, <strong>myHstry</strong>, allows you
			to add your genealogoy data regardless of where you got it and saves
			it in a form that allows you to search, retrieve and display it in a
			variety of forms. If you have been struggling with finding the right
			family history software then <strong>myHstry</strong> is the service
			for you.
		</p>
	</div>
</div>
</html>