<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<div layout:fragment="page_content" id="page_content">
	<div class="content">
		<form th:action="@{/person/add}" method="post">
			<p>First Name:</p>
			<input type="text" name="firstname"><br />
			<p>Middle Names:</p>
			<input type="text" name="middlenames"><br />
			<p>Last Name:</p>
			<input type="text" name="surname"><br />
			<p>Gender:</p>
			<input type="radio" name="gender" value="male"> Male<br />
			<input type="radio" name="gender" value="female"> Female<br />
			<p>Birth:</p>
			<input type="date" name="birth"><br />
			<p>Death:</p>
			<input type="date" name="death"><br />
			<br />
			<p>Mother:</p>
			<select name="mother">
				<option value="">Unknown</option>
				<option th:each="parent : ${mothers}" th:value="${parent.id}" th:text="${parent.fullname}"></option>
			</select><br />
			<p>Father:</p>
			<select name="father">
				<option value="">Unknown</option>
				<option th:each="parent : ${fathers}" th:value="${parent.id}" th:text="${parent.fullname}"></option>
			</select><br />
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
</html>