<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">myHstry</title>
<link href="https://fonts.googleapis.com/css?family=Comfortaa"
	rel="stylesheet">
<link rel="stylesheet" href="style/myhstry.css" />
</head>
<body>
	<div id="container">
		<div id="header">
			<div id="logo">
				<h1>
					<a href="/">myHstry</a>
				</h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/about">About</a></li>
					<li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
					<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div layout:fragment="page_content"></div>
		</div>
		<div id="footer">&copy; copyright 2017-2018 Andy Diack. All
			rights reserved.</div>
	</div>
</body>
</html>